version: 2.1

workflows:
  test-deploy:
    jobs:
      - test
jobs:
  test:
    docker:
      - image: cimg/node:16.10.0
    steps:
      - checkout
      - run:
        name: See directory
        command: ls
      - run:
          name: Go to frontend
          command: cd frontend
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run Tests
          command: npm run test
